.container {
  background-color: gray;
  display: flex;
  height: 30px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10000;
}

.container-1 {
  display: flex;
}
.device-logo {
  width: 80px;
}

.device-logo ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.center-logo {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
}

.angle-center :hover {
  color: yellow;
}

.share-and-download {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.download-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: rgb(26, 99, 154);
  padding: 0 16px;
  margin-left: 15px;
}

.download-box a {
  text-decoration: none;
}

.download-box:hover {
  background-color: rgb(73, 153, 214);
}

nav {
  background-color: rgb(56, 56, 155);
  height: 50px;
  width: 100%;
  opacity: 0.8;
}
label {
  color: white;
  font-size: 35px;
  line-height: 50px;
  padding: 0 100px;
  font-weight: bold;
}
.list-item {
  float: right;
  margin-right: 135px;
}
.list-item ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 15px;
  position: relative;
}

.list-item ul li a:hover {
  color: yellow;
}

.list-item ul > .dropdown > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown_menu {
  display: none;
}

.list-item ul li:hover .dropdown_menu {
  display: block;
  position: absolute;
  left: -20%;
  top: 110%;
  background: rgb(10, 10, 222);
  border-radius: 10px;
}

.list-item ul li:hover .dropdown_menu ul {
  display: block;
  margin: 5px;
}

.list-item ul li:hover .dropdown_menu ul li {
  width: 170px;
}

.dropdown_menu-1 {
  display: none;
}

.dropdown_menu ul li:hover .dropdown_menu-1 {
  display: block;
  position: absolute;
  top: 0;
  left: 160px;
  background: rgb(10, 10, 222);
  border-radius: 10px;
}
