.content-main {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.tittle-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tittle-content h1 {
  font-size: 50px;
  width: 60%;
  text-align: center;
  background: linear-gradient(to left, #0890d4, #0818c7, #0890d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  flex-wrap: wrap;
  width: 100%;
}
.medium-box {
  padding: 0 10px 10px 10px;
}
.box {
  display: block;
  width: 400px;
  height: auto;
  text-align: center;
}
.box h3,
.box p {
  margin: 0 0 16px;
}
.box p {
  color: rgba(128, 128, 128, 0.734);
}
.faChart,
.faSun,
.faTeam {
  padding: 30px;
  background: linear-gradient(to left, #0d648d, #127cb5, #1553c7);
  border-radius: 60%;
  font-size: 30px;
  color: #fff;
  margin: 0 0 30px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
