header{
    padding: 10px 0 10px 0;
    position: fixed;
    z-index:100000;
    width: 100%;

    background-color:white;
    .container{
        display: flex;
        justify-content: space-evenly;
    }
}