#table-data {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 5px solid rgb(1, 152, 121);
}
thead {
  background-color: rgb(1, 152, 121);
  border-radius: 20px solid green;
  color: aliceblue;
}
tbody tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.281);
  color: rgb(1, 152, 121);
}
.big-border {
  border: 1px solid black;
}
